center/src/main/resources/META-INF/dconfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.dmall.com/schema/dconfig"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.dmall.com/schema/dconfig"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the qconfig provided by Qunar. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="config">
        <xsd:annotation>
            <xsd:documentation><![CDATA[]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="files" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="order" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:int" use="optional" default="10000">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ignore-resource-not-found" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
	Specifies if failure to find the property resource location should be ignored.  Default
	is "false", meaning that if there is no file in the location specified an exception will
	be raised at runtime.
				]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ignore-unresolvable" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
	Specifies if failure to find the property value to replace a key should be ignored.  Default
	is "false", meaning that this placeholder configurer will raise an exception if it cannot resolve
	a key.  Set to "true" to allow the configurer to pass on the key to any others in
	the context that have not yet visited the key in question.
				]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="annotation-driven">
        <xsd:annotation>
            <xsd:documentation><![CDATA[]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>